.layer-switcher {
    position: absolute;
    top: 0;
    right: 0;
    text-align:left;
    color:#D7E6EC;
    margin:0;
}

.layer-switcher .panel {
    /*padding-right: 50px;
    border: 1px solid #cccccc;
    margin: 0;*/
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #0065A2;
    min-width:250px;
}

.layer-switcher.shown .panel {
    display: block;
}

.layer-switcher button {
    width: 30px;
    height: 30px;
    background-image: url('ico-layers.png');
    background-repeat: no-repeat;
    background-size:80% 80%;
    background-position: center;
    background-color: #0065A2;
    border:1px solid #fff;
    margin:0;
    border-radius:0;
}

.layer-switcher button:focus, .layer-switcher button:hover {
    background-color: #007DAE;
}

.layer-switcher ul {
    padding-left: 0;
    list-style: none;
}
.layer-switcher ul>li{
    padding-left:0.5rem;
}

.layer-switcher li.group {
    font-family: bold  Verdana, Geneva, sans-serif;
	font-size: 10px;
	border-top: 1px solid #2873BF;
    margin-top: 5px;
}
.layer-switcher li.group:first-child {
    border:none;
    margin: 0;
}

.layer-switcher li.group > label {
    font-family: bold  Verdana, Geneva, sans-serif;
    color: #fff;
}

.layer-switcher input {
    margin: 4px;
}

/*CLASS FOR PANEL LEGEND*/
.layer-legend {
    position: absolute;
    top: 2.5em;
    right: 0;
    text-align:left;
    color:#D7E6EC;
    margin:0;
}

.layer-legend .panel {
    /*padding-right: 50px;
    border: 1px solid #cccccc;
    margin: 0;*/
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #0065A2;
    min-width:40px;
}

.layer-legend.shown .panel {
    display: block;
}

.layer-legend button {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size:80% 80%;
    background-position: center;
    background-color: #0065A2;
    border:1px solid #fff;
    margin:0;
    border-radius:0;
}
